body {
  color: #fff;
}

ul.navbar-nav {
  list-style: none;
}

ul.navbar-nav li {
  display: inline-block;
  /* Make the list items display inline */
}

.c-container {
  max-width: 1080px;
}

.navbar {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.25);
}
