<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <!-- head section -->
  <%- include ('partials/head.ejs') %>
  <body>
    <!-- header section -->
    <%- include ('partials/main_nav.ejs') %>

    <main class="container c-container mt-5 mb-5 pb-5">
      <section
        class="d-flex flex-wrap justify-content-center justify-content-md-between"
      >
        <picture class="flex-shrink-0 c-avatar order-md-1 mb-3 mb-md-0">
          <img
            src="/images/tejas.png"
            alt="my picture"
            width="100%"
            class="object-fit rounded-circle"
          />
        </picture>
        <article class="c-bio-container order-md-0 text-center text-md-start">
          <h1 class="display-4">About Me</h1>
          <ul class="lead list-style-none mt-4 text-body">
            <li>
              As a final-year Computer Engineering student, I am driven by a passion for crafting innovative software solutions 
              and a commitment to continuous learning. With a good skill set in web development, data structures and algorithms,
               I strive to leverage my knowledge to exceed targets and drive meaningful results. My goal is to immerse myself in a 
               forward-thinking organization where I can contribute effectively and grow both professionally and personally.</li>
          </ul>
          <a href="/file/Tejas Khairnar Resume.pdf" class="btn btn-light mt-4" download
            >Click To Download Resume</a
          >
        </article>
      </section>
    </main>

    <!--footer section-->
    <%- include ('partials/footer.ejs') %>

    <!--script section-->
    <%- include ('partials/scripts.ejs') %>
  </body>
</html>
