<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <!-- head section -->
  <%- include ('partials/head.ejs') %>
  <body>
    <!-- header section -->
    <%- include ('partials/main_nav.ejs') %>

    <main class="container c-container mt-5">
      <div class="jumbotron text-center">
        <p class="m-0 text-secondary-emphasis">Hey there! I am</p>
        <h1 class="display-4">Tejas Khairnar.</h1>
        <p class="lead mt-4 text-body">
          Final year Computer Engineering student passionate about developing innovative software solutions. With good knowledge in web development, DSA and Problem Solving. I strive to make impactful contributions in the field of technology.
        </p>
        <a class="btn btn-outline-light mt-4" href="/about" role="button"
          >View Portfolio</a
        >
      </div>
    </main>

    <!--footer section-->
    <%- include ('partials/footer.ejs') %>

    <!--script section-->
    <%- include ('partials/scripts.ejs') %>
  </body>
</html>
