<!DOCTYPE html>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>

<html lang="en" data-bs-theme="dark">
  <!-- head section -->
  <%- include('partials/head.ejs') %>
  <body>
    <!-- header section -->
    <%- include('partials/main_nav.ejs') %>

    <main class="container c-container mt-5 mb-5 pb-5">
      <h1 class="display-4 text-center">My Projects</h1>
      <section class="row mt-5 justify-content-center mx-0">
        <!-- Nashik-Properties Project Card -->
        <div class="card col-lg-4 mx-2 mb-4 shadow-lg hover-shadow">
          <img src="/images/nsk.png" class="card-img-top" alt="Nashik Properties">
          <div class="card-body text-center">
            <h5 class="card-title">Nashik-Properties</h5>
            <p class="card-text mb-3">
              Developed a comprehensive website showcasing developers and their real estate projects across various locations.
            </p>
            <p><strong>Role:</strong> Full Stack Web Developer</p>
            <p><strong>Technologies:</strong> Express.js, MongoDB, Mongoose, MVC Architecture, Embedded JS, HTML, CSS, JavaScript</p>
            <p><strong>Duration:</strong> Jan 2024 - Mar 2024</p>
            <a href="https://nashik-properties-vz2c.onrender.com" class="btn btn-primary" target="_blank">Visit Project</a>
          </div>
        </div>

        <!-- Food & Fun Project Card -->
        <div class="card col-lg-4 mx-2 mb-4 shadow-lg hover-shadow">
          <img src="/images/foodnfun.png" class="card-img-top" alt="Food & Fun">
          <div class="card-body text-center">
            <h5 class="card-title">Food & Fun</h5>
            <p class="card-text mb-3">
              Development of a website for a hotel, showcasing their services and menu offerings.
            </p>
            <p><strong>Role:</strong> Backend Developer</p>
            <p><strong>Technologies:</strong> Node.js, Express.js, MongoDB</p>
            <p><strong>Duration:</strong> Apr 2024 - May 2024</p>
            <a href="https://food-fun-main-2jdm.onrender.com" class="btn btn-primary" target="_blank">Visit Project</a>
          </div>
        </div>

        <!-- Wanderlust Project Card -->
        <div class="card col-lg-4 mx-2 mb-4 shadow-lg hover-shadow">
          <img src="/images/wanderlust.png" class="card-img-top" alt="Wanderlust">
          <div class="card-body text-center">
            <h5 class="card-title">Wanderlust</h5>
            <p class="card-text mb-3">
              Developed a full-stack website for seamless accommodation and travel experiences.
            </p>
            <p><strong>Role:</strong> Full Stack Web Developer</p>
            <p><strong>Technologies:</strong> HTML, Bootstrap, JavaScript, Node.js, Express.js, Mongoose</p>
            <p><strong>Duration:</strong> Dec 2023 - Jan 2024</p>
            <a
              href="https://wanderlust-project-esoe.onrender.com"
              class="btn btn-outline-secondary mt-3 mt-auto"
              target="_blank"
              >Visit Project</a
            >
          </div>
        </div>
        
      </section>
    </main>
    <!-- footer section -->
    <%- include('partials/footer.ejs') %>
    <!-- scripts -->
    <%- include('partials/scripts.ejs') %>
  </body>
</html>
